<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5ZJBL5FL');</script>
    <!-- End Google Tag Manager -->
    <title>Calling Agent</title>
    <meta charset="utf-8">
    <script>
        function callNow() {
            window.location.href = "tel:{{ agent_mobile }}";
        }
        window.onload = callNow;
    </script>
</head>

<body style="background: #000; color: #fff; text-align: center; padding-top: 50px;">
    <h1>Preparing Call...</h1>
    <p>If call doesn't start automatically, <a href="tel:{{ agent_mobile }}">click here</a>.</p>
</body>

</html>